name: Build and Push Docker Image # Naam van de GitHub Action workflow

on:
  push:
    branches:
      - main # Start de workflow bij pushes naar de 'main' branch

jobs:
  build:
    runs-on: ubuntu-latest # Gebruik de laatste versie van Ubuntu voor de job runner

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3 # Stap om de code van de repository te klonen

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2 # Stel Docker Buildx in, wat handig is voor het bouwen van multi-platform images

    - name: Log in to Docker Hub
      uses: docker/login-action@v2 # Gebruik de Docker login actie om in te loggen bij Docker Hub
      with:
        username: ${{ secrets.DOCKER_USERNAME }} # Gebruik de Docker Hub gebruikersnaam uit GitHub secrets
        password: ${{ secrets.DOCKER_PASSWORD }} # Gebruik het Docker Hub wachtwoord uit GitHub secrets

    - name: Build and tag the Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/my-nginx-image:latest . # Bouw de Docker image en tag deze met 'latest'
        docker tag ${{ secrets.DOCKER_USERNAME }}/my-nginx-image:latest ${{ secrets.DOCKER_USERNAME }}/my-nginx-image:${{ github.sha }} # Tag de gebouwde image met de huidige GitHub commit SHA

    - name: Push the Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/my-nginx-image:latest # Push de Docker image getagd met 'latest' naar Docker Hub
        docker push ${{ secrets.DOCKER_USERNAME }}/my-nginx-image:${{ github.sha }} # Push de Docker image getagd met de GitHub commit SHA naar Docker Hub
